
{% block content %}
{% load spotlit_extras %}
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-file"></i>
					<span class="hidden-480" style="font-size:15px;">Status:

						{% if status == 1 or status == 8 %}
						<span class="label label-primary">
						{% elif status == 2 or status == 3 or status == 4 %}
						<span class="label label-success">
						{% elif status == 5 or status == 0%}
						<span class="label bg-green">
						{% elif status == 6 or status == 7 or status == 9 %}
						<span class="label label-danger">
						{% endif %}
							{{real_status}}
						</span>

						&nbsp&nbsp|&nbsp&nbspType: {{ request.request_type }}&nbsp &nbsp|&nbsp&nbsp
						Date & Time: {{submitted_date}}&nbsp &nbsp|&nbsp&nbspCreated By: {{ request.created_by }}
					</span>
				</div>
			</div>
			<div class="portlet-body">
				<!--<div class="row">-->
					<!--<div class="col-md-12">-->
						<div class="portlet prescient-green box">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-cogs"></i>Request Details
								</div>
								<div class="tools">
                        			<a href="javascript:;" class="collapse"></a>
                    			</div>
							</div>

							<div class="portlet-body">
								<div class="row">
								<div class="col-md-6">
								<div class="row static-info">
									<div class="col-md-5 name">
										 Request #:
									</div>
									<div class="col-md-7 value">
										 {{request.display_id}}
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Name:
									</div>
									<div class="col-md-7 value">
										 {{request.first_name}} {{request.middle_name}} {{request.last_name}}
									</div>
								</div>
								{% if request.birthdate != "" %}
								<div class="row static-info">
									<div class="col-md-5 name">
										 Birthdate:
									</div>
									<div class="col-md-7 value">
										 {{request.birthdate}}
									</div>
								</div>
								{% endif %}
								{% if request.get_citizenship_display != "" %}
								<div class="row static-info">
									<div class="col-md-5 name">
										 Citizenship:
									</div>
									<div class="col-md-7 value">
										 {{request.get_citizenship_display}}
									</div>
								</div>
								{% endif %}
								{% if request.ssn != "" %}
								<div class="row static-info">
									<div class="col-md-5 name">
										 SSN:
									</div>
									<div class="col-md-7 value">
										 {{request.ssn}}
									</div>
								</div>
								{% endif %}
								{% if request.email != "" %}
								<div class="row static-info">
									<div class="col-md-5 name">
										 Email:
									</div>
									<div class="col-md-7 value">
										 {{request.email}}
									</div>
								</div>
								{% endif %}
								{% if request.phone_number != "" %}
									<div class="row static-info">
										<div class="col-md-5 name">
											 Phone Number:
										</div>
										<div class="col-md-7 value">
											 {{request.phone_number}}
										</div>
									</div>
								{% endif %}
								{% if request.annual_income_exceeds_75000 != "" %}
									<div class="row static-info">
										<div class="col-md-5 name">
											 The subject's salary will exceed $75,000
										</div>
										<div class="col-md-7 value">
											 {% if request.annual_income_exceeds_75000 == True %}
											   Yes
											 {% else %}
											   No
											 {% endif %}

										</div>
									</div>
								{% endif %}
								{% if request.state_of_employment != "" %}
									<div class="row static-info">
										<div class="col-md-5 name">
											 State Of Employment
										</div>
										<div class="col-md-7 value">
											 {{request.state_of_employment}}

										</div>
									</div>
								{% endif %}
								{% if request.pending != None %}
									<div class="row static-info">
										<div class="col-md-5 name">
											 Completed, Pending
										</div>
										<div class="col-md-7 value">
											 {% if request.pending == True %}
											   Yes
											 {% else %}
											   No
											 {% endif %}

										</div>
									</div>
								{% endif %}
								{% if request.address != None %}
								<div class="row static-info">
									<div class="col-md-5 name">
										 Address:
									</div>
									<div class="col-md-7 value">
										{% if request.address != None %}
										{{request.address.street}} {{request.address.street2}}
										{{request.address.city}} {{request.address.state}} {{request.address.zipcode}}
										{% endif %}
									</div>
								</div>
								{% endif %}
								<div class="row static-info">
									<div class="col-md-5 name">
										 Attachment:
									</div>
									<div class="col-md-7 value">
										{% for attachment in client_attachments %}
                                        <a href="
                                        {{ MEDIA_URL }}{{attachment.attachment}}">{{attachment.attachment.name|get_file_base_name}}</a></br>
                                        {% endfor %}
									</div>
								</div>
								{% if request.due_date != "" and hide_due_date != True %}
								<div class="row static-info">
									<div class="col-md-5 name">
										 Due Date:
									</div>
									<div class="col-md-7 value">
										 {{request.due_date}}
									</div>
								</div>
								{% endif %}
							</div>
							<div class="col-md-6">
								<div class="row static-info">
									<div class="col-md-12 value">
										Client Comments
										<div class="well">
											<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 80px;">
                           					 	<div class="scroller" style="overflow: auto; width: auto; height: 80px;" data-initialized="true">
                           					 		{% if request.comments == "" %}
                           					 			No request comments exist.
                           					 		{% else %}
											 			{{request.comments|linebreaks}}
											 		{% endif %}
											 	</div>
				                            	<div class="slimScrollBar" style="width: 7px; position: absolute; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; top: 0px; height: 98.0392156862745px; display: none; opacity: 0.4; background: rgb(187, 187, 187);">
				                            	</div>
				                            	<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);">
				                            	</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				<!--</div>-->
				<!--</div>-->
			</div>
		</div>
	</div>
{% endblock %}
