{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <title>Voyint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Pendo installation -->
    <script>
    (function(apiKey){
        (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];

        v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
            o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
            y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
            z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');

            // Call this whenever information about your visitors becomes available
            // Please use Strings, Numbers, or Bools for value types.
            var isSuperUser = '{{request.user.is_superuser}}'
            var userId = null;
            var userEmail = null;
            if(isSuperUser === "False"){
              userId = '{{request.user.id}}';
              userEmail ='{{request.user.email}}'
            }
            pendo.initialize({
                visitor: {
                    id:              userId,   // Required if user is logged in
                    email:           userEmail // Recommended if using Pendo Feedback, or NPS Email
                    // full_name:    // Recommended if using Pendo Feedback
                    // role:         // Optional

                    // You can add any additional visitor level key-values here,
                    // as long as it's not one of the above reserved names.
                },

                account: {
                    id:           'ACCOUNT-UNIQUE-ID' // Highly recommended
                    // name:         // Optional
                    // is_paying:    // Recommended if using Pendo Feedback
                    // monthly_value:// Recommended if using Pendo Feedback
                    // planLevel:    // Optional
                    // planPrice:    // Optional
                    // creationDate: // Optional

                    // You can add any additional account level key-values here,
                    // as long as it's not one of the above reserved names.
                }
            });
    })('2ba1f306-646b-4dcd-7022-9ac3337dcd96');
</script>
<!--end pendo installation -->


    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        background: url({% static 'img/voyint-backdrop.png' %}) no-repeat center center fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

     <!-- metronic theme -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/global/css/components.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'theme/global/plugins/select2/select2.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/global/plugins/data-tables/DT_bootstrap.css' %}" rel="stylesheet" type="text/css"/>


    <link href="{% static 'theme/global/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/admin/layout/css/layout.css' %}" rel="stylesheet" type="text/css"/>
    <!--<link href="{% static 'theme/admin/layout/css/themes/grey.css' %}" rel="stylesheet" type="text/css" id="style_color"/>-->
    <link href="{% static 'theme/admin/layout/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'theme/global/plugins/select2/select2-bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'theme/admin/pages/css/login.css' %}" rel="stylesheet" type="text/css"/>

      <link href="{% static 'css/voyint.css'%}" rel="stylesheet">


    <link rel="shortcut icon" href="{{SPOTLIT_FAVICON}}">

    <script language="javascript" type="text/javascript">
        function bookmark(url, title) {
            if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                window.sidebar.addPanel(document.title, window.location.href, '');
            } else if (window.external && ('AddFavorite' in window.external)) { // IE Favorite
                window.external.AddFavorite(location.href, document.title);
            } else if (window.opera && window.print) { // Opera Hotlist
                this.title = document.title;
                return true;
            } else { // webkit - safari/chrome
                alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != -1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
            }


        }
    </script>


    <style>/* Gradient color1 - color2 - color1 */
		hr.style-one {
    		border: 0;
    		height: 1px;
    		background: #333;
    		background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    		background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    		background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    		background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
		}
	</style>

  </head>
<body class="login">

<!-- BEGIN LOGIN -->
    <div class="content">
        <div class="logo">
	        <img style="width:100%" src="{% static "img/voyint-logo.png" %}" alt="VOYINT" />
        </div>
        <div style="background:#e3e3e3;padding: 20px 10px">
            <h3 class="page-title"> Login:</h3>
            {% crispy form %}

            <div class="forget-password">

            	<p>
            		<a href="{% url 'forgot_password' %}" id="forget-password">
            			<i class="fa fa-sign-in"></i> Forgot Password
            		</a>
            	</p>
            	<p>
            		<a href="{% url 'customer_registration' %}">
            			<i class="fa fa-sign-in"></i> New Customer Registration
            		</a>
            	</p>
            	<hr class="style-one" />
            	<p>
            		<center>
            			<a href="#" onclick="return bookmark('https://portal.voyint.com', 'Voyint Portal Customer Login');">
            				<span class="label label-sm label-success" style="background-color:#A0CD4F; ">bookmark this page <i class="fa fa-plus"></i></span>
            			</a>
            		</center>
            	<p>
            </div>
        </div>

        <div class="copyright" style="width:100%">
        <br />
	<p>By logging into the Voyint portal, I acknowledge on behalf of my company the receipt of the
            <a href="https://www.voyint.com/agreements">User Agreement</a> and <a href="https://www.consumer.ftc.gov/articles/pdf-0096-fair-credit-reporting-act.pdf" target="blank">Summary of Consumer Rights</a> prescribed by the Federal Trade Commission.</p>
	<p>This system is for authorized users only. All activities on this system may be monitored and/or recorded by Voyint security personnel. Unauthorized use is strictly prohibited.</p>
	    <p><center>{% now 'Y' %} &copy; <a href="https://www.voyint.com">Voyint</a></center></p>
       </div>
    </div>
</body>

    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <!-- general javascript -->
     <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


<!-- metronic javacript -->
    <script type="text/javascript" src="{% static 'theme/global/plugins/select2/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/global/plugins/data-tables/jquery.dataTables.js' %}"></script>
     <script type="text/javascript" src="{% static 'theme/global/plugins/data-tables/tabletools/js/dataTables.tableTools.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'theme/global/plugins/data-tables/DT_bootstrap.js' %}"></script>


  <script src="{% static 'theme/global/scripts/metronic.js' %}" type="text/javascript"></script>
  <script src="{% static 'theme/admin/layout/scripts/layout.js' %}" type="text/javascript"></script>


    <!-- project specific Javascript -->
    <script src="{% static 'js/prescient_comply.js' %}"></script>

  </div>
</html>
<style>

.btn-secondary{
    color: white;
    background-color: #AFAFB1;
    border-color: #AFAFB1;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #A0CD4F;
}
</style>
</html>
