{% extends 'base.html' %}
{% load eztables %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/global/plugins/select2/select2.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/global/plugins/data-tables/DT_bootstrap.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}theme/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}theme/global/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}theme/global/plugins/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}theme/global/plugins/data-tables/tabletools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/all_table.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#completed_table').dataTable({
                "bPaginate": true,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url 'supervisor_completed_requests_datatable' %}",
                "aLengthMenu": [
                [5, 15, 20, 100],
                [5, 15, 20, 100]
            ],
                "iDisplayLength":5,
             });

               $('#in_progress_table').dataTable({
                "bPaginate": true,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url 'supervisor_in_progress_requests_datatable' %}",
                "aLengthMenu": [
                [5, 15, 20, 100],
                [5, 15, 20, 100]
            ],
                "iDisplayLength":5,
             });

        });



    </script>

{% endblock %}

{% block sidebar %}
    {% include 'core/_supervisor_sidebar.html' %}
{% endblock %}

{% block content %}

    <div class="page-content">
        <h3 style="padding-top:10px;" class="page-title">Welcome to {{company.name}} </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{% url 'redirect' %}">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Request Dashboard</a>
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="{% url 'advanced_search_supervisor'  %}">
                    <div class="dashboard-stat grey">
                        <div>
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                                <div class="details">
                                    <div class="number">
                                         Reports
                                    </div>
                                    <div class="desc">
                                         Search And Export
                                    </div>
                                </div>
                            <div class="more">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="filter col-md-6" style="margin-bottom:50px">
                <div class="panel-group accordion" id="accordion_in_progress">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled"
                                   data-toggle="collapse" data-parent="#accordion_in_progress"
                                   href="#collapse_in_progress_reports">
                                    In Progress</a>
                            </h4>
                        </div>
                        <div id="collapse_in_progress_reports" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="portlet-title">
                                    <div class="dataTables_wrapper col-md-12" role="grid" style="margin-bottom:50px" id="in_progress">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-striped table-boardered table-hover dataTable"
                                            id="in_progress_table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-group accordion" id="accordion_completed">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled"
                                   data-toggle="collapse" data-parent="#accordion_completed"
                                   href="#collapse_completed_reports">
                                    Completed</a>
                            </h4>
                        </div>
                        <div id="collapse_completed_reports" class="panel-collapse collapse in">
                            <div class="col-md-12">
                                <a href="{% url 'bulk_archive' %}" class="">
                                    Bulk Archive
                                </a>
                               
                            </div>
                            <br>
                            <div class="panel-body">
                                <div class="portlet-title">
                                    <div class="table-responsive">
                                        <div class="dataTables_wrapper col-md-12" role="grid" style="margin-bottom:50px" id="completed">
                                            <table class="table table-condensed table-striped table-boardered table-hover dataTable"
                                            id="completed_table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Date Completed</th>
                                                        <th>Report</th>
                                                        <th>Supporting Docs</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
